*{
    padding: 0;
    margin:0;
}
.container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.score{
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: -575px;
    margin-left: 69px;
}
.high-score{
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: -94px;
    margin-top: -415px;
}
.board{
    height: 90vmin;
    width: 92vmin;
    background: linear-gradient(rgb(0, 255, 251),rgb(20, 197, 141));
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    margin-left: 49px;

}
.snake{
    background: green;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
   

}
.food{
    background: url("./images/app.png");
    background-size: 100% 100%;
}
.head{
    background: url("./images/headsnake.png");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 22;

}
.bg img{
    width: 437px;
    height: 500px;
    margin-left: -96px;
    margin-top: 98px;
}
.logo{
     margin-top: -651px;
    height: 100;
    width: 159px;
    background-color: pink;
    margin-left: 204px;
}
#gameover{
    height: 40px;
    width: 150px;
    background-color: transparent;
    margin-top: -536px;
    margin-left: 10px;
    color: yellow;
    font-size: 30px;
    
}